[Unit]
Description=Node Exporter
After=network.target

[Service]
User=ubuntu
ExecStart=/opt/node-exporter/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
