apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    uid: ds_prometheus
    url: http://{{ hostvars['prometheus']['ansible_host'] }}:9090
    access: proxy
    isDefault: true
    version: 1
    editable: true
